{% extends "exams/base.html" %}

{% block title %}Edit {{ quiz.name }}{% endblock %}

{% block breadcrumbs %}
  <li class="breadcrumb-item">
    <a href="{% url 'registrar:term' request.resolver_match.kwargs.year request.resolver_match.kwargs.season %}">
      {{ request.resolver_match.kwargs.year }} {{ request.resolver_match.kwargs.season }}
    </a>
  </li>
  <li class="breadcrumb-item">
    <a href="{% url 'registrar:course' request.resolver_match.kwargs.year request.resolver_match.kwargs.season request.resolver_match.kwargs.course_number %}">
      {{ request.resolver_match.kwargs.course_number }}
    </a>
  </li>
  <li class="breadcrumb-item">
    <a href="{% url 'exams:course' request.resolver_match.kwargs.year request.resolver_match.kwargs.season request.resolver_match.kwargs.course_number %}">
      Quizzes
    </a>
  </li>
  <li class="breadcrumb-item">
    <a href="{% url 'exams:quiz' request.resolver_match.kwargs.year request.resolver_match.kwargs.season request.resolver_match.kwargs.course_number request.resolver_match.kwargs.quiz_identifier %}">
      {{ quiz.name }}
    </a>
  </li>
  <li class="breadcrumb-item active" aria-current="page">
    Edit
  </li>
{% endblock %}

{% block content %}

  <form action="?" method="POST">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="row">
      <label for="{{ form.name.id_for_label }}" class="col-sm-3 col-form-label mb-1">
        Name
      </label>
      <div class="col-sm-9 mb-3">
        {{ form.name }}
        {{ form.name.errors }}
      </div>
      <label for="{{ form.start.id_for_label }}" class="col-sm-3 col-form-label mb-1">
        Start time
      </label>
      <div class="col-sm-9 mb-3">
        {{ form.start }}
        {{ form.start.errors }}
      </div>
      <label for="{{ form.end.id_for_label }}" class="col-sm-3 col-form-label mb-1">
        End time
      </label>
      <div class="col-sm-9 mb-3">
        {{ form.end }}
        {{ form.end.errors }}
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
    <a href="{% url 'exams:quiz' request.resolver_match.kwargs.year request.resolver_match.kwargs.season request.resolver_match.kwargs.course_number request.resolver_match.kwargs.quiz_identifier %}" class="btn btn-danger">
      Cancel
    </a>
  </form>

{% endblock %}
